<div class="credit-card-container">
  <div class="credit-card">
    <div class="card-header">
      <div class="chip">
      </div>
      <div class="card-logo">
        <img [src]="imgCard" alt="Visa">
      </div>
    </div>
    <div class="card-number">
      <span> {{ numberCard | maskCardNumber }} </span>
    </div>
    <div class="card-info">
      <div class="card-holder">
        <label>Titular</label>
        <span>{{ cardName }}</span>
      </div>
      <div class="card-expiry">
        <label>Válido hasta</label>
        <span> {{ cardHolder }} </span>
      </div>
    </div>
  </div>
</div>